

.ag-theme-balham-dark {
    background-color: #394b59;
}

.ag-theme-balham-dark .ag-row-odd {
    background-color: #5C7080;
}

.ag-theme-balham-dark .ag-row-even {
    background-color: #202b33;
}
.ag-theme-balham-dark .ag-header-cell {
    //background-color: #394B59;
}
.ag-theme-balham-dark .ag-header {
    background-color: #182026;
}
